# Dependencies
node_modules
pnpm-lock.yaml
# Production
docs/.vitepress/dist/
docs/.vitepress/cache
dist/
# dev-dist 文件夹是 Vite PWA 插件在开发环境下生成的临时文件夹，用于存放开发环境的 Service Worker 和相关文件。
dev-dist/
# Cache
.cache
.temp

# 忽略所有的 .d.ts 文件
*.d.ts

# 如果只想忽略特定目录下的 .d.ts 文件
docs/.vitepress/**/*.d.ts

# 如果有某些 .d.ts 文件需要保留，可以使用 !
!important.d.ts